body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    background-image: linear-gradient(to right, #115DAA, #63B0FF);*/
    background-image: linear-gradient(to left, #f9c5d1, #9795ef);
}

/*background-color: #f9c5d1;
background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);*/

.container {
    margin: 12em auto;
    border-radius: 12px;
}

.user-pic {
    height: 12em;
    margin-top: 2em;
}

.custom-group {
    width: 20em;
    margin: .3em auto;
}

.form-control {
    border-radius: 12px !important;
    font-size: 1.4em;
    background-color: whitesmoke !important;
}


.custom-btn {
    margin: .3em;
    background-color: whitesmoke !important;
    border: 1px solid whitesmoke;
    height: 2.5em;
    width: 10em;
    border-radius: 12px;
    font-weight: 400;
    font-size: 1.4em;
}

.error-label {
    font-size: 1.4em;
}

.error-text {
    text-align: center !important;
    font-size: 2em;
    color: red !important;
}
